body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #87b1bb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%2387B1BB' width='11' height='11'/%3E%3Crect fill='%2389b2bc' x='10' width='11' height='11'/%3E%3Crect fill='%238bb4bd' y='10' width='11' height='11'/%3E%3Crect fill='%238db5be' x='20' width='11' height='11'/%3E%3Crect fill='%238fb6bf' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2391b7c1' y='20' width='11' height='11'/%3E%3Crect fill='%2393b9c2' x='30' width='11' height='11'/%3E%3Crect fill='%2395bac3' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2397bbc4' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2399bdc5' y='30' width='11' height='11'/%3E%3Crect fill='%239bbec6' x='40' width='11' height='11'/%3E%3Crect fill='%239dbfc7' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%239fc1c9' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23a2c2ca' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23a4c3cb' y='40' width='11' height='11'/%3E%3Crect fill='%23a6c4cc' x='50' width='11' height='11'/%3E%3Crect fill='%23a8c6cd' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23aac7ce' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23acc8cf' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23aecad0' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23b0cbd2' y='50' width='11' height='11'/%3E%3Crect fill='%23b2ccd3' x='60' width='11' height='11'/%3E%3Crect fill='%23b4ced4' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23b6cfd5' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23b8d0d6' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23bad2d7' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23bcd3d9' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23bed4da' x='70' width='11' height='11'/%3E%3Crect fill='%23c0d5db' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23c2d7dc' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23c4d8dd' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23c6d9de' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23c8dbdf' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23cadce1' x='80' width='11' height='11'/%3E%3Crect fill='%23ccdde2' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23cedfe3' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23d0e0e4' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23d2e1e5' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23d4e3e6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d6e4e8' x='90' width='11' height='11'/%3E%3Crect fill='%23d8e5e9' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23dae7ea' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23dce8eb' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23dee9ec' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e0ebed' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e2ecef' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e4edf0' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e6eff1' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e8f0f2' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ebf1f3' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23edf3f4' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23eff4f6' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f1f6f7' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f3f7f8' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f5f8f9' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f7fafa' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f9fbfb' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23fbfcfd' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23fdfefe' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23FFFFFF' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */
}

h2 {
  font-weight: 700;
}

.note-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-card-header button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.note-card-header svg {
  display: block;
  font-size: 1.5rem;
  fill: #e63946;
}

.flag {
  border: 4px solid #e63946;
}

footer {
  text-align: center;
  padding: 0.5rem;
}

.empty-list p {
  padding: 1rem;
  border-radius: 5px;
  background-color: bisque;
}
